@using Logictracker.Web
@{
    Layout = null;
}

<div ng-controller="RechazoEditItemController">
    <form kendo-validator="validator" ng-submit="onSave($event)">
        <div class="InputContainer">
            <div class="InputContainer-column">
                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "MOTIVO"):</span>
                    <span class="InputGroup__control">{{ticketItem.MotivoDesc}}</span>
                </div>

                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "ESTADO"):</span>
                    <lt-rechazo-estado class="InputGroup__control" />
                </div>

                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "CODIGO_DISTRIBUCION"):</span>
                    <span class="InputGroup__control">{{ticketItem.CodigoDistribucion}}</span>
                </div>
                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Entities", "PARENTI44"):</span>
                    <div class="InputGroup__control">{{ticketItem.EntregaCodigo}} {{ticketItem.EntregaDesc}}</div>
                </div>
            </div>
            <div class="InputContainer-column">
                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Entities", "PARENTI07"):</span>
                    <span class="InputGroup__control">{{ticketItem.TransportistaDesc}}</span>
                </div>

                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Entities", "PARENTI18"):</span>
                    <span class="InputGroup__control">{{ticketItem.ClienteDesc}}</span>
                </div>

                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "TERRITORIO"):</span>
                    <span class="InputGroup__control">{{ticketItem.Territorio}}</span>
                </div>
                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "BULTOS"):</span>
                    <span class="InputGroup__control">{{ticketItem.Bultos}}</span>
                </div>
            </div>
            <div class="InputContainer-column">
                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "VENDEDOR"):</span>
                    <span class="InputGroup__control">{{ticketItem.VendedorDesc}}</span>
                </div>
                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "SUPERVISOR_VENTAS"):</span>
                    <span class="InputGroup__control">{{ticketItem.SupVenDesc}}</span>
                </div>
                <div class="InputGroup" style="max-height: 5em">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "SUPERVISOR_RUTA"):</span>
                    <div class="InputGroup__control">{{ticketItem.SupRutDesc}}</div>
                </div>
                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "EN_HORARIO"):</span>
                    <span class="InputGroup__control">{{ticketItem.EnHorario ? 'Si' : 'No'}}</span>
                </div>
            </div>
        </div>

        <div class="InputContainer">
            <div class="InputGroup">
                <span class="InputGroup__label">@Html.ResourceLabel("Labels", "OBSERVACIONES"):</span>
                <div class="InputGroup__control">
                    <textarea class="form-control"
                              kendo-editor
                              k-ng-model="ticketItem.Observacion"></textarea>
                </div>
            </div>
        </div>
        <br />

        <div class="form-group">
            <button kendo-button type="button" ng-click="onClose()" style="float: right; margin-left: 3em; min-width: 10em;">@Html.ResourceLabel("Labels", "CERRAR")</button>
            <button kendo-button type="submit" ng-disabled="!estadoSelected" style="float: right; margin-left: 3em; min-width: 10em;">@Html.ResourceLabel("Labels", "GUARDAR")</button>
        </div>

        <br />
        <br />
        <div class="form-group">
            <span>@Html.ResourceLabel("Labels", "INFORMACION_DEL_TICKET"):</span>
            <div kendo-grid k-options="gridDetalleOptions" k-data-source="ticketItem.Detalle"></div>
        </div>
    </form>
</div>
