@using Logictracker.Web
@{
    ViewBag.Title = "Estadisticas";
}

<div ng-controller="RechazoEstadisticasController" class="container">
    <div class="row nl-filterpanel">
        <div class="col-md-2">
            @Html.ResourceLabel("Entities", "PARENTI01"):
            <lt-rechazo-distrito />

        </div>
        <div class="col-md-2">
            @Html.ResourceLabel("Entities", "PARENTI02"):
            <lt-rechazo-base />
        </div>
        <div class="col-md-4">
            @Html.ResourceLabel("Entities", "PARENTI07"):
            <lt-rechazo-transportista/>
        </div>
        <div class="col-md-2">
            <br/>
            <input type="checkbox" ng-model="autoRefesh" ng-click="onAutoRefreshClick()" />
            @Html.ResourceLabel("Labels", "Autorefresh")<br/>
        </div>
        <div class="col-md-2">
            <button type="button" class="form-control" kendo-button style="margin-top: 1.5em;min-width: 10em" ng-click="onBuscar()">@Html.ResourceLabel("Labels", "Buscar")</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12 k-content GaugeContainer">
                    <label>Promedio OL</label>
                    <span kendo-radialgauge
                          k-scale="averageScale"
                          ng-model="averageOL"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 GaugeContainer">
                    <label>Promedio Vendedores</label>
                    <span kendo-radialgauge
                          k-scale="averageScale"
                          ng-model="averageVendedores"></span>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-8 StatsContent-top">
                    <div kendo-grid k-options="gridOptions" k-data-source="statsDS"></div>
                </div>
                <div class="col-md-4 GaugeContainer">
                    <div kendo-chart
                         k-series-defaults="{ type: 'pie' }"
                         k-series="[{
	                                field: 'share',
	                                categoryField: 'resolution',
	                                padding: 0
	                              }]"
                         k-data-source="screenResolution">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 StatsContent-bottom">data3</div>
            </div>
        </div>

    </div>
    <span kendo-notification="notify"></span>
</div>