@using Logictracker.Web
@{
    ViewBag.Title = "Index";
}

<div ng-app="logictracker" class="container" ng-controller="RechazoController">
    <div class="row nl-filterpanel">
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    @Html.ResourceLabel("Entities", "PARENTI01"):
                    <lt-ddl-distrito lt-ng-model="distritoSelected" lt-default-value="UserData.DistritoSelected" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.ResourceLabel("Entities", "PARENTI02"):
                    <lt-ddl-base lt-ng-model="baseSelected" lt-default-value="UserData.BaseSelected" lt-dependent-on="distritoSelected"/>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    @Html.ResourceLabel("Entities", "PARENTI04"):
                    <lt-ms-departamento lt-ng-model="departamentoSelected" lt-data-distrito="distritoSelected" lt-depends-on-base="baseSelected" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.ResourceLabel("Labels", "Estado"):
                    <lt-ms-estado lt-ng-model="estadoSelected" />
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    @Html.ResourceLabel("Entities", "PARENTI37"):
                    <lt-ms-centro-de-costos lt-ng-model="centroDeCostosSelected" lt-data-distrito="distritoSelected" lt-depends-on-base="baseSelected" lt-depends-on-departamento="departamentoSelected" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.ResourceLabel("Labels", "Motivo"):
                    <lt-ms-motivo lt-ng-model="motivoSelected" />
                </div>
            </div>
        </div>

        <div class="col-md-2">
            @Html.ResourceLabel("Entities", "PARENTI07"):
            <lt-ms-transportista lt-ng-model="transportistaSelected" lt-data-distrito="distritoSelected" lt-depends-on-base="baseSelected" />
        </div>

        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    @Html.ResourceLabel("Labels", "Desde"): <input class="form-control" kendo-date-picker
                                                                   k-ng-model="desde" />

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    @Html.ResourceLabel("Labels", "Hasta"): <input class="form-control" kendo-date-picker
                                                                   k-ng-model="hasta" />
                </div>
            </div>
        </div>


        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="form-control" kendo-button style="margin-top: 1.5em;min-width: 10em" ng-click="onBuscar()">@Html.ResourceLabel("Labels", "Buscar")</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="form-control" kendo-button style="margin-top: 1.5em; min-width: 10em" ng-click="onNuevo()">@Html.ResourceLabel("Labels", "Nuevo")</button>
                </div>
            </div>
        </div>
    </div>

    <div cass="row" style="margin-top: 1em;">
        <div class="col-md-12">
            <div kendo-grid="mainGrid" k-options="gridOptions" k-data-source="rechazosDS"></div>
        </div>
    </div>
    <span kendo-notification="notify" k-auto-hide-after="10000"></span>
    <div kendo-window="rechazoWin" k-visible="false" k-modal="true" k-on-refresh="onRefreshWindow()" k-max-width="1100"></div>
</div>
