@using Logictracker.Web
@{
    ViewBag.Title = "Index";
}

<div ng-app="logictracker" class="container" ng-controller="RechazoController">
    <div class="row nl-filterpanel">
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    @Html.ResourceLabel("Entities", "PARENTI01"):
                    <lt-rechazo-distrito/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.ResourceLabel("Entities", "PARENTI02"):
                    <lt-rechazo-base/>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    @Html.ResourceLabel("Entities", "PARENTI04"):
                    <lt-rechazo-departamento/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.ResourceLabel("Labels", "Estado"):
                    <lt-rechazo-estado-multiselect/>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    @Html.ResourceLabel("Entities", "PARENTI37"):
                    <lt-rechazo-centro-de-costos />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.ResourceLabel("Labels", "Motivo"):
                    <lt-rechazo-motivo-multiselect/>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            @Html.ResourceLabel("Entities", "PARENTI07"):
            <lt-rechazo-transportista />
        </div>

        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    @Html.ResourceLabel("Labels", "Desde"): <input class="form-control" kendo-date-picker
                                                                   k-ng-model="desde" />

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    @Html.ResourceLabel("Labels", "Hasta"): <input class="form-control" kendo-date-picker
                                                                   k-ng-model="hasta" />
                </div>
            </div>
        </div>


        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="form-control" kendo-button style="margin-top: 1.5em;min-width: 10em" ng-click="onBuscar()">@Html.ResourceLabel("Labels", "Buscar")</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="form-control" kendo-button style="margin-top: 1.5em; min-width: 10em" ng-click="onNuevo()">@Html.ResourceLabel("Labels", "Nuevo")</button>
                </div>
            </div>
        </div>
    </div>

    <div cass="row" style="margin-top: 1em;">
        <div class="col-md-12">
            <div kendo-grid k-options="gridOptions" k-data-source="rechazosDS"></div>
        </div>
    </div>
    <span kendo-notification="notify"></span>
    <div kendo-window="rechazoWin" k-width="1100" k-visible="false" k-modal="true" k-on-refresh="onRefreshWindow()"></div>
</div>
