@using Logictracker.Web
@{
    Layout = null;
}

<script id="tDistribucion" type="text/x-kendo-template">
    <div>
        <span>#= data.Codigo #</span>
        <br />
        # if(data.Patente != null) {#
        <span style="font-size:xx-small">#= data.Patente #</span>
        # } else { #
        <span style="font-size:xx-small;color:red;"> sin vehículo</span>
        # } #
        <span style="font-size:xx-small"> Inicia : #= kendo.toString(new Date(data.Inicio),"G") #</span>
    </div>
</script>


<script id="tPuntoEntrega" type="text/x-kendo-template">
    <div>
        <span>#= data.Codigo #</span>
        <br />
        <span style="font-size:xx-small;"> #= data.Descripcion #</span>
    </div>
</script>
<div ng-controller="RechazoItemController">
    <form kendo-validator="validator" ng-submit="onSave($event)">

        <div class="InputContainer">
            <div class="InputContainer-column">
                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "Motivo"):</span>
                    <lt-ddl-motivo class="InputGroup__control" lt-ng-model="motivoSelected"/>
                </div>

                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "Estado"):</span>
                    <lt-ddl-estado class="InputGroup__control" lt-ng-model="estadoSelected"/>

                </div>

                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "Codigo distribucion"):</span>
                    <div class="InputGroup__control">
                        <lt-ac-distribucion 
                            lt-ng-model="distribucionSelected"
                            lt-data-distrito="distritoSelected"
                            lt-depends-on-base="baseSelected"
                            lt-template="tDistribucion" />
                    </div>
                </div>
                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "Entrega"):</span>
                    <div class="InputGroup__control">
                        <lt-ac-punto-entrega lt-ng-model="puntoEntregaSelected"
                                            lt-data-distrito="distritoSelected"
                                            lt-data-base="baseSelected"
                                            lt-template="tPuntoEntrega"
                                            lt-depends-on-distribucion="distribucionSelected" />
                    </div>
                </div>
            </div>
            <div class="InputContainer-column">
                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "Cadena"):</span>
                    <div class="InputGroup__control">
                        <lt-cb-transportista lt-ng-model="transportistaSelected"
                                             lt-data-distrito="distritoSelected"
                                             lt-data-base="baseSelected" />
                    </div>
                </div>
                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Entities", "PARENTI18"):</span>
                    <div class="InputGroup__control">
                        {{clienteSelected}}
                    </div>
                </div>
                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "TERRITORIO"):</span>
                    <div class="InputGroup__control">
                        <input class="form-control k-textbox" type="text"
                               ng-model="territorio"/>
                    </div>
                </div>
                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "BULTOS"):</span>
                    <div class="InputGroup__control">
                        <input class="form-control k-textbox" required type="number"
                               ng-model="bultos" min="0" value="0" />
                    </div>
                </div>
            </div>
            <div class="InputContainer-column">
                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "VENDEDOR"):</span>
                    <div class="InputGroup__control">
                        <lt-cb-vendedor lt-ng-model="vendedorSelected"
                                        lt-data-distrito="distritoSelected"
                                        lt-data-base="baseSelected" 
                                        lt-data-cliente="clienteSelected" 
                                        lt-data-codigo-vendedor="{{codigoVendedor}}" 
                                        lt-depends-on-punto-entrega="puntoEntregaSelected" />
                    </div>
                </div>
                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "SUPERVISOR_RUTA"):</span>
                    <div class="InputGroup__control">
                        <lt-cb-supervisor-venta lt-ng-model="supervisorVentasSelected" 
                                                lt-data-distrito="distritoSelected" 
                                                lt-data-base="baseSelected" 
                                                lt-depends-on-vendedor="vendedorSelected" 
                                                lt-notify-show="notifyShow" />
                    </div>
                </div>
                <div class="InputGroup" style="max-height: 5em">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "SUPERVISOR_VENTAS"):</span>
                    <div class="InputGroup__control">
                        <lt-cb-supervisor-ruta lt-ng-model="supervisorRutaSelected" 
                                               lt-data-distrito="distritoSelected" 
                                               lt-data-base="baseSelected" 
                                               lt-data-codigo-supervisor-rutas="{{codigoSupervisorRutas}}" 
                                               lt-depends-on-supervisor-ventas="supervisorVentasSelected" />
                    </div>
                </div>
                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "EN_HORARIO"):</span>
                    <div class="InputGroup__control">
                        <input class="form-control" kendo-combo-box
                               required
                               k-data-source="enHorarioDS"
                               k-data-text-field="'Value'"
                               k-data-value-field="'Key'"
                               k-ng-model="enHorarioSelected"/>
                    </div>
                </div>

            </div>

        </div>

        <div class="InputContainer">
            <div class="InputGroup">
                <span class="InputGroup__label">@Html.ResourceLabel("Labels", "OBSERVACIONES"):</span>
                <div class="InputGroup__control">
                    <textarea class="form-control"
                              kendo-editor
                              k-ng-model="observacion"></textarea>
                </div>
            </div>
        </div>

        <div class="form-group">
        </div>

        <div class="from-grop">
            <button kendo-button ng-click="onClose()" style="float: right; margin-left: 3em; min-width: 10em;">@Html.ResourceLabel("Labels", "Cerrar")</button>
            <button kendo-button type="submit" ng-disabled="disabledButton" style="float: right; margin-left: 3em; min-width: 10em;">@Html.ResourceLabel("Labels", "Guardar")</button>
        </div>
    </form>
</div>
