@using Logictracker.Web
@{
    Layout = null;
}

<script id="tDistribucion" type="text/x-kendo-template">
    <div>
        <span>#= data.Codigo #</span>
        <br />
        # if(data.Patente != null) {#
        <span style="font-size:xx-small">#= data.Patente #</span>
        # } else { #
        <span style="font-size:xx-small;color:red;"> sin vehículo</span>
        # } #
        <span style="font-size:xx-small"> Inicia : #= kendo.toString(new Date(data.Inicio),"G") #</span>
    </div>
</script>

<script id="tPuntoEntrega" type="text/x-kendo-template">
    <div>
        <span>#= data.Codigo #</span>
        <br />
        <span style="font-size:xx-small;"> #= data.Descripcion #</span>
    </div>
</script>

<div ng-controller="RechazoItemController">
    <form kendo-validator="validator" ng-submit="onSave($event)">

        <div class="InputContainer">
            <div class="InputContainer-column">
                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "Motivo"):</span>
                    <lt-rechazo-motivo class="InputGroup__control" />
                </div>

                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "Estado"):</span>
                    <lt-rechazo-estado class="InputGroup__control" />

                </div>

                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "Codigo distribucion"):</span>
                    <div class="InputGroup__control">

                        <input class="form-control k-textbox"
                               kendo-auto-complete
                               k-ng-model="distribucionSelected"
                               k-data-source="distribucionDS"
                               k-readonly="distribucionRO"
                               k-data-text-field="'Codigo'"
                               k-filter="'contains'"
                               k-min-length="3"
                               k-template="tDistribucion"/>
                    </div>
                </div>
                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "Entrega"):</span>
                    <div class="InputGroup__control">
                        <input class="form-control"
                               kendo-auto-complete
                               required
                               k-data-source="puntoEntregaDS"
                               k-readonly="puntoEntregaRO"
                               k-data-text-field="'Codigo'"
                               k-filter="'contains'"
                               k-min-length="3"
                               k-ng-model="puntoEntregaSelected"
                               k-template="tPuntoEntrega" />
                    </div>
                </div>
            </div>
            <div class="InputContainer-column">

                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "Transportista"):</span>
                    <div class="InputGroup__control">
                        <input class="form-control" kendo-combo-box
                               required
                               k-data-source="transportistaDS"
                               k-data-text-field="'Value'"
                               k-data-value-field="'Key'"
                               k-ng-model="transportistaSelected" />
                    </div>
                </div>
                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "Cadena"):</span>
                    <div class="InputGroup__control">
                        {{clienteSelected}}
                    </div>
                </div>
                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "Territorio"):</span>
                    <div class="InputGroup__control">
                        <input class="form-control k-textbox" type="text"
                               ng-model="territorio"/>
                    </div>
                </div>
                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "Bultos"):</span>
                    <div class="InputGroup__control">
                        <input class="form-control k-textbox" required type="number"
                               ng-model="bultos" min="0" value="0" />
                    </div>
                </div>
            </div>
            <div class="InputContainer-column">
                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "Vendedor"):</span>
                    <div class="InputGroup__control">
                        <input class="form-control" kendo-combo-box
                               required
                               k-data-source="vendedorDS"
                               k-data-text-field="'Descripcion'"
                               k-data-value-field="'EmpleadoId'"
                               k-ng-model="vendedorSelected" />
                    </div>
                </div>
                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "Supervisor Ventas"):</span>
                    <div class="InputGroup__control">
                        <input class="form-control" kendo-combo-box
                               required
                               k-data-source="supervisorVentasDS"
                               k-data-text-field="'Value'"
                               k-data-value-field="'Key'"
                               k-ng-model="supervisorVentasSelected" />
                    </div>
                </div>
                <div class="InputGroup" style="max-height: 5em">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "Supervisor Ruta"):</span>
                    <div class="InputGroup__control">
                        <input class="form-control" kendo-combo-box
                               required
                               k-data-source="supervisorRutaDS"
                               k-data-text-field="'Value'"
                               k-data-value-field="'Key'"
                               k-ng-model="supervisorRutaSelected" />
                    </div>
                </div>
                <div class="InputGroup">
                    <span class="InputGroup__label">@Html.ResourceLabel("Labels", "En horario"):</span>
                    <div class="InputGroup__control">
                        <input class="form-control" kendo-combo-box
                               required
                               k-data-source="enHorarioDS"
                               k-data-text-field="'Value'"
                               k-data-value-field="'Key'"
                               k-ng-model="enHorarioSelected"/>
                    </div>
                </div>

            </div>

        </div>

        <div class="InputContainer">
            <div class="InputGroup">
                <span class="InputGroup__label">@Html.ResourceLabel("Labels", "Observaciones"):</span>
                <div class="InputGroup__control">
                    <textarea class="form-control"
                              kendo-editor
                              k-ng-model="observacion"></textarea>
                </div>
            </div>
        </div>

        <div class="form-group">
        </div>

        <div class="from-grop">
            <button kendo-button ng-click="onClose()" style="float: right; margin-left: 3em; min-width: 10em;">@Html.ResourceLabel("Labels", "Cerrar")</button>
            <button kendo-button type="submit" style="float: right; margin-left: 3em; min-width: 10em;">@Html.ResourceLabel("Labels", "Guardar")</button>
        </div>
    </form>
</div>
