@{
    ViewBag.Title = "Ordenes para Programar";
}

@*<h1>@ViewBag.Title</h1>*@

@section csssection {
    @Styles.Render("~/bundles/css-openlayer")
}

@section scripts {
    @Scripts.Render("~/bundles/js-openlayer")
}


<script id="tPuntoEntrega" type="text/x-kendo-template">
    <div>
        <span>#= data.Codigo #</span>
        <br />
        <span style="font-size:xx-small;"> #= data.Descripcion #</span>
    </div>
</script>

<div ng-app="logictracker" class="container" ng-controller="OrdenesController">
    <div class="nl-filterpanel">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">@Html.ResourceLabel("Entities", "PARENTI01"):</label>
                <lt-ddl-distrito lt-ng-model="distritoSelected" lt-default-value="UserData.DistritoSelected" />
            </div>
            <div class="form-group">
                <label class="control-label">@Html.ResourceLabel("Entities", "PARENTI02"):</label>
                <lt-ddl-base lt-ng-model="baseSelected" lt-default-value="UserData.BaseSelected" lt-dependent-on="distritoSelected" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">@Html.ResourceLabel("Entities", "PARENTI07"):</label>
                <lt-ms-transportista lt-ng-model="transportistaSelected"
                                     lt-data-distrito="distritoSelected"
                                     lt-depends-on-base="baseSelected" />
            </div>
            <div class="form-group">
                <label class="control-label">@Html.ResourceLabel("Labels", "Entrega"):</label>
                <lt-ac-punto-entrega lt-ng-model="puntoEntregaSelected"
                                     lt-data-distrito="distritoSelected"
                                     lt-data-base="baseSelected"
                                     lt-template="tPuntoEntrega"
                                     lt-depends-on="baseSelected" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">@Html.ResourceLabel("Labels", "Desde"):</label>
                <input class="form-control" kendo-date-picker k-ng-model="desde" />
            </div>
            <div class="form-group">
                <label class="control-label">@Html.ResourceLabel("Labels", "Hasta"):</label>
                <input class="form-control" kendo-date-picker k-ng-model="hasta" />
            </div>
        </div>


        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">&nbsp;</label>
                <kendo-button class="form-control" ng-click="onBuscar()">
                    @Html.ResourceLabel("Labels", "Buscar")
                </kendo-button>
            </div>
            <div class="form-group">
                <label class="control-label">&nbsp;</label>
                <kendo-button class="form-control"
                              data-toggle="modal"
                              data-target="#myModal"
                              ng-disabled="productsSelected.length == 0">
                    @Html.ResourceLabel("Labels", "Asignar")
                </kendo-button>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <summary-products-selected lt-ng-selected-list="productsSelected" />
        </div>
    </div>
    <div class="row" style="margin-top: 1em;">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#grilla">Grilla</a></li>
            <li><a data-toggle="tab" href="#mapa">Mapa</a></li>
        </ul>

    </div>
    <div cass="tab-content" style="margin-top: 1em;">
        <div id="grilla" class="tab-pane collapse in active">
            <div class="col-md-12">
                <div kendo-grid="ordenesGrid" k-options="ordenesGridOptions" k-data-source="Orders"></div>
            </div>
        </div>
        <div id="mapa" class="tab-pane fade">
            <openlayers width="100%" height="400px"></openlayers>
        </div>
    </div>

    <span kendo-notification="notify"></span>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="OrdenesAsignarController">
        <div class="modal-dialog" style="width: 75%">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Enviar a Distribución</h4>
                </div>

                <div style="min-height: 10px" class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-horizontal col-md-6">
                                <div class="form-group">
                                    <label for="startDateTime" class="col-md-4 control-label">Fecha/Hora Inicio</label>
                                    <div class="col-md-8">
                                        <input id="startDateTime" class="form-control" kendo-date-time-picker k-ng-model="order.StartDateTime" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="year" class="col-md-4 control-label">Tipo Vehículo</label>
                                    <div class="col-md-8">
                                        <lt-ddl-tipo-coche lt-ng-model="vehicleTypeSelected"
                                                           lt-data-base="baseSelected"
                                                           lt-data-distrito="distritoSelected" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-horizontal col-md-6">
                                <div class="form-group">
                                    <label for="tipoCiclo" class="col-md-4 control-label">Ciclo Logistico</label>
                                    <div class="col-md-8">
                                        <lt-ddl-tipo-ciclo-logistico lt-ng-model="order.LogisticsCycleType"
                                                                     lt-dependent-on="distritoSelected" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="year" class="col-md-4 control-label">Camión</label>
                                    <div class="col-md-8">
                                        <lt-ddl-coche lt-ng-model="order.Vehicle"
                                                      lt-depends-on="vehicleTypeSelected"
                                                      lt-data-base="baseSelected"
                                                      lt-data-distrito="distritoSelected"
                                                      lt-data-tipo-coche="vehicleTypeSelected" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div kendo-grid="productosGrid" k-options="productosGridOptions" k-data-source="ds"></div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div kendo-grid="cuadernasGrid" k-options="cuadernasGridOptions" k-data-source="cuadernasDs"></div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancelar</button>
                    <a class="btn btn-primary" ng-disabled="disabledButton" ng-click="ok()" data-dismiss="modal">Programar</a>
                </div>
            </div>
        </div>
    </div>
</div>